@import url("form/button.css");
@import url("form/form.css");
@import url("form/inputlabel.css");
@import url("mainContainer.css");
@import url("font.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

hr {
  color: #0006;
}

#div__p--result
{
  color: #0003;
}